@import './variables';
@import './mixin';

$fonts: 'Lato' ('Black', 'Light'),
  'Montserrat' ('ExtraLight', 'Light', 'Regular', 'SemiBold', 'Thin'),
  'OpenSans' ('Bold', 'Light', 'Regular', 'SemiBold'),
  'Roboto' ('Light', 'Medium', 'Regular', 'Thin');
@each $name, $types in $fonts {
  @each $type in $types {
    @font-face {
      font-family: '#{$name}-#{$type}';
      @include font-definition(#{$name}, #{$type});
      font-weight: normal;
      font-style: normal;
    }
  }
}
@each $name, $types in $fonts {
  @each $type in $types {
    @font-face {
      font-family: '#{$name}, #{$name}-#{$type}';
      @include font-definition(#{$name}, #{$type});
      font-weight: normal;
      font-style: normal;
    }
  }
}


@import '~nucal-widget-lib/src/assets/styles/widget-icons.scss';
@font-face {
  font-family: 'widgetlib';
  src: url('~nucal-widget-lib/src/assets/fonts/widgetlib.eot');
  src: url('~nucal-widget-lib/src/assets/fonts/widgetlib.eot#iefix') format('embedded-opentype'),
    url('~nucal-widget-lib/src/assets/fonts/widgetlib.woff2') format('woff2'), url('~nucal-widget-lib/src/assets/fonts/widgetlib.ttf') format('truetype'),
    url('~nucal-widget-lib/src/assets/fonts/widgetlib.woff') format('woff'), url('~nucal-widget-lib/src/assets/fonts/widgetlib.svg#widgetlib') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import '~nucal-widget-lib/src/assets/styles/font-awesome-all.css';
