$default-font-path: '~nucal-widget-lib/src/assets/commonFonts' !default;
$default-font: 'OpenSans' !default;
$open-sans-font: 'OpenSans';
$lato-font: 'Lato';
$roboto-font: 'Roboto';
$montserrat-font: 'Montserrat';
$open-sans: 'OpenSans';
$lato: 'Lato';
$roboto: 'Roboto';
$montserrat: 'Montserrat';
$bold-font-type: 'Bold';
$regular-font-type: 'Regular';
$semi-bold-font-type: 'SemiBold';
